.big-card {
  display: flex;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff0d;
  box-shadow: 0 10px 30px -15px #020c1bb3;
  margin: 100px 0;

  @include media(">=phone", "<lgphone") {
    flex-direction: column;
  }
  @include media(">=lgphone", "<tablet") {
    flex-direction: column;
  }
  @include media(">=tablet", "<desktop") {
    flex-direction: column;
  }

  .image-wrapper {
    width: 40%;
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      max-height: 300px;
    }
  }

  .content {
    padding: 0 20px;
    width: 60%;
    color: #8892b0;

    @include media(">=phone", "<lgphone") {
      padding: 20px 0;
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      padding: 20px 0;
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      padding: 20px 0;
      width: 100%;
    }
    .project-links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    h3 {
      font-size: 1.5rem;
      color: #ccd6f6;
      margin-top: 0;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      list-style: none;
      padding: 0;
      margin-top: 40px;
    }
    li {
      margin-right: 10px;
      font-size: 0.875rem;
    }
  }
}
