.big-card {
  display: flex;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff0d;
  box-shadow: 0 10px 30px -15px #020c1bb3;
  margin: 100px auto;
  height: 200px;
  width: 60%;

  @include media(">=phone", "<lgphone") {
    flex-direction: column;
    height: 500px;
    width: 90%;
  }
  @include media(">=lgphone", "<tablet") {
    flex-direction: column;
  }
  @include media(">=tablet", "<desktop") {
    flex-direction: column;
  }

  .image-wrapper {
    width: 40%;
    display: grid;
    place-items: center;
    cursor: pointer;
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }
    img {
      object-fit: contain;
      max-height: 180px;
      border-radius: 10px;
    }
  }

  .content {
    padding: 0 20px;
    width: 60%;
    height: 100%;
    color: #8892b0;
    position: relative;

    @include media(">=phone", "<lgphone") {
      padding: 20px 0;
      width: 100%;
      margin-top: 15px;
    }
    @include media(">=lgphone", "<tablet") {
      padding: 20px 0;
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      padding: 20px 0;
      width: 100%;
    }
    .project-links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 10%;
      @include media(">=phone", "<lgphone") {
        margin-bottom: 20px;
      }
      svg {
        width: 24px;
        height: 24px;
      }
    }
    h3 {
      font-size: 1.5rem;
      color: #ccd6f6;
      margin-top: 0;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 100px;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      position: absolute;
      bottom: 0;
    }
    li {
      margin-right: 10px;
      font-size: 0.875rem;
    }
  }
}
