@charset "utf-8";
@import "./include-media.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");

// Atoms
@import "./card.scss";
@import "./big-card.scss";

// Components
@import "./navbar.scss";
@import "./header.scss";
@import "./work.scss";
@import "./about.scss";
@import "./footer.scss";
@import "./big-project.scss";

* {
  font-family: "Montserrat";
  line-height: 1.6rem;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  // background-color: #0a192f;
  background-image: url("../images/test-background.jpg");
  background-repeat: repeat;
  color: #8892b0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primary-btn {
  margin: 10px;
  padding: 10px;
  border: 1px solid #64ffda;
  border-radius: 5px;
  color: #64ffda;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    transform: scale(3.1);
    background-color: #64ffda1a;
  }
}

.link-icon {
  height: 32px;
  width: 32px;
  stroke: #8892b0;
  &:hover {
    stroke: #64ffda;
  }
}
